<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>

<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta http-equiv='Content-Style-Type' content='text/css'>
<meta name='robots' content='none'>
<meta name='author' content='Yuki Naito'>
<title>CRISPRdirect | Results</title>
<style type='text/css'>
<!--
	* { font-family:verdana,arial,helvetica,sans-serif }
	p,table,div,textarea { font-size:8pt }
	a       { text-decoration:none; color:#003399 }
	a:hover { text-decoration:none; color:maroon  }
	.b      { text-decoration:none; color:black   }
-->
</style>
</head>

<body>

<div>
<a href='.'><img src='ocean.jpg' height=80 width='100%'></a>
<a href='.' class=b><font size=5>CRISPRdirect &beta; </font></a>
	rational design of CRISPR/Cas target.
</div>

<hr><!-- __________________________________________________ -->

<div>
<TMPL_VAR NAME=HTML>
</div>

<hr><!-- __________________________________________________ -->

<p><font color=gray>CRISPRdirect &beta; |
<a target='_blank' href='http://twitter.com/meso_cacase'>@meso_cacase</a> at 
<a target='_blank' href='http://dbcls.rois.ac.jp/'>DBCLS</a>
</font></p>

</body>
</html>
