<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>

<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta http-equiv='Content-Script-Type' content='text/javascript'>
<meta http-equiv='Content-Style-Type' content='text/css'>
<meta name='author' content='Yuki Naito'>
<title>CRISPRdirect</title>
<script type='text/javascript'>
<!--
function retrieveSequence(){
	acc = document.getElementById('acc').value ;
	requestFile('', 'GET', './?format=txt&accession='+acc, true) ;
}
function requestFile(data, method, fileName, async){
	var httpoj = createHttpRequest() ;
	httpoj.onreadystatechange = function(){
		if (httpoj.readyState==4){ 
			on_loaded(httpoj) ;
		}
	}
	httpoj.open(method, fileName, async) ;
	httpoj.send(data) ;
}
function createHttpRequest(){
	//for Win IE
	if(window.ActiveXObject){
		try {
			//for MSXML2
			return new ActiveXObject('Msxml2.XMLHTTP') ;
		} catch (e) {
			try {
				//for MSXML
				return new ActiveXObject('Microsoft.XMLHTTP') ;
			} catch (e2) {
				return null ;
			}
		}
	} else if(window.XMLHttpRequest){
		//other agents
		return new XMLHttpRequest() ;
	} else {
		return null ;
	}
}
function on_loaded(oj){
	res  = oj.responseText ;
	document.getElementById('useq').value = res ;
	document.getElementById('acc2').value = acc ;
}
//-->
</script>
<style type='text/css'>
<!--
	* { font-family:verdana,arial,helvetica,sans-serif }
	p,table,div,textarea { font-size:8pt }
	a       { text-decoration:none; color:#003399 }
	a:hover { text-decoration:none; color:maroon  }
	.b      { text-decoration:none; color:black   }
-->
</style>
</head>

<body>

<div>
<a href='.'><img src='ocean.jpg' height=80 width='100%'></a>
<a href='.' class=b><font size=5>CRISPRdirect &beta; </font></a>
	rational design of CRISPR/Cas target.
</div>

<hr><!-- __________________________________________________ -->

<script type='text/javascript'>
<!--
var ua = navigator.userAgent.toLowerCase() ;
if (ua.indexOf('msie') != -1 && ua.indexOf('mac') != -1){
	document.write(
		'<div>'                                                           +
		'<form name=getsequence method=GET action=".">'                   +
		'    <p>Enter an accession number and retrieve sequence:<br>'     +
		'    <input type=text id=acc name=accession size=20 maxlength=50' +
		'        value="<TMPL_VAR NAME=ACCESSION>">'                      +
		'    <input type=submit value="retrieve sequence">'               +
		'    <\/p>'                                                       +
		'<\/form>'                                                        +
		'<\/div>'
	) ;
} else {
	document.write(
		'    <p>Enter an accession number and retrieve sequence:<br>'     +
		'    <input type=text id=acc name=accession size=20 maxlength=50' +
		'        value="<TMPL_VAR NAME=ACCESSION>"'                       +
		'        onkeypress="if(event.keyCode==13){retrieveSequence()}">' +
		'    <input type=button value="retrieve sequence"'                +
		'        onclick="retrieveSequence()">'                           +
		'    <\/p>'
	) ;
}
//-->
</script>

<noscript>
<div>
<form name=getsequence method=GET action='.'>
	<p>Enter an accession number and retrieve sequence:<br>
	<input type=text id=acc name=accession size=20 maxlength=50
		value='<TMPL_VAR NAME=ACCESSION>'>
	<input type=submit value='retrieve sequence'>
	</p>
</form>
</div>
</noscript>

<div>
<form name=crisprdirect method=POST action='.'>
	<p>or Paste in a nucleotide sequence:<br>
	<textarea id=useq name=userseq rows=15 cols=100>
<TMPL_VAR NAME=USERSEQ></textarea>
	</p>

	<p>Specificity check:
	<select name=db>
		<option value=none         >none</option>
		<option value=hg19 selected>Human genome, GRCh37/hg19 (Feb, 2009)</option>
	</select>
	</p>

	<input type=hidden id=acc2 name=accession value="<TMPL_VAR NAME=ACCESSION>">
	<p><input type=submit value=design></p>
</form>
</div>

<TMPL_VAR NAME=RESULT>

<hr><!-- __________________________________________________ -->

<p><font color=gray>CRISPRdirect &beta; |
<a target='_blank' href='http://twitter.com/meso_cacase'>@meso_cacase</a> at 
<a target='_blank' href='http://dbcls.rois.ac.jp/'>DBCLS</a>
</font></p>

</body>
</html>
