<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>

<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta http-equiv='Content-Script-Type' content='text/javascript'>
<meta http-equiv='Content-Style-Type' content='text/css'>
<meta name='author' content='Yuki Naito'>
<title>CRISPRdirect</title>
<script type='text/javascript'>
<!--
function retrieveSequence(){
	acc = document.getElementById('acc').value ;
	requestFile('', 'GET', './?format=txt&accession='+acc, true) ;
}
function requestFile(data, method, fileName, async){
	var httpoj = createHttpRequest() ;
	httpoj.onreadystatechange = function(){
		if (httpoj.readyState==4){ 
			on_loaded(httpoj) ;
		}
	}
	httpoj.open(method, fileName, async) ;
	httpoj.send(data) ;
}
function createHttpRequest(){
	//for Win IE
	if(window.ActiveXObject){
		try {
			//for MSXML2
			return new ActiveXObject('Msxml2.XMLHTTP') ;
		} catch (e) {
			try {
				//for MSXML
				return new ActiveXObject('Microsoft.XMLHTTP') ;
			} catch (e2) {
				return null ;
			}
		}
	} else if(window.XMLHttpRequest){
		//other agents
		return new XMLHttpRequest() ;
	} else {
		return null ;
	}
}
function on_loaded(oj){
	res  = oj.responseText ;
	document.crisprdirect.userseq.value   = res ;
	document.crisprdirect.accession.value = acc ;
}
//-->
</script>
<!-- jQuery -->
<script type='text/javascript' charset='utf8'
	src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js'>
</script>
<script type='text/javascript'>
<!--
	// Fallback for CDN hosted jQuery
	(window.jQuery || document.write(
		'<script src="jQuery/jquery-2.0.3.min.js"><\/script>'
	)) ;
//-->
</script>
<!-- DataTables -->
<script type='text/javascript' charset='utf8'
	src='http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js'>
</script>
<!-- CSS for DataTables -->
<link rel='stylesheet' type='text/css'
	href='http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css'>
<script type='text/javascript'>
<!--
	// Fallback for CDN hosted DataTables
	(window.jQuery.fn.dataTable || document.write(
		'<script src="jquery.dataTables/1.9.4/jquery.dataTables.min.js"><\/script>' +
		'<link rel="stylesheet" type="text/css" href="jquery.dataTables/1.9.4/css/jquery.dataTables.css">'
	)) ;
//-->
</script>
<script type='text/javascript'>
<!--
jQuery.fn.dataTableExt.oSort['position-range-asc'] = function(a,b) {
	var x = parseFloat( a.replace( /-.*/, '' ) ) ;  // get start position
	var y = parseFloat( b.replace( /-.*/, '' ) ) ;  // get start position
	return ((x < y) ? -1 : ((x > y) ?  1 : 0)) ;
} ;

jQuery.fn.dataTableExt.oSort['position-range-desc'] = function(a,b) {
	var x = parseFloat( a.replace( /-.*/, '' ) ) ;  // get start position
	var y = parseFloat( b.replace( /-.*/, '' ) ) ;  // get start position
	return ((x < y) ?  1 : ((x > y) ? -1 : 0));
};

jQuery.fn.dataTableExt.oSort['hits-asc'] = function(a,b) {
	var x = parseFloat( a.replace( /\D.*/, '' ) ) ;  // get number of hits
	var y = parseFloat( b.replace( /\D.*/, '' ) ) ;  // get number of hits
	return ((x < y) ? -1 : ((x > y) ?  1 : 0)) ;
} ;

jQuery.fn.dataTableExt.oSort['hits-desc'] = function(a,b) {
	var x = parseFloat( a.replace( /\D.*/, '' ) ) ;  // get number of hits
	var y = parseFloat( b.replace( /\D.*/, '' ) ) ;  // get number of hits
	return ((x < y) ?  1 : ((x > y) ? -1 : 0));
};

jQuery.fn.dataTableExt.afnFiltering.push(
	function(oSettings, aData, iDataIndex) {
		var tttt       = aData[5] ;
		var hit_20mer  = aData[6].replace( /\D.*/, '' ) ;
		var hit_12mer  = aData[7].replace( /\D.*/, '' ) ;
		var isSpecific = (hit_20mer == '1' && hit_12mer == '1' && tttt == '-') ;
		return ($('#filter_highlight').is(':checked') ? isSpecific : true);
	}
);

$(document).ready(function(){
	var result = $('#result').dataTable({
		'bAutoWidth'      : false,  // Disable automatic column width
		'iDisplayLength'  : 20,     // Number of rows per page
		'aLengthMenu'     : [[20, 50, 100, -1], [20, 50, 100, 'All']],  // Menu items
		'sPaginationType' : 'full_numbers',  // Page control method
		'bSortClasses'    : false,  // Disable highlighting the sorted columns
		'aoColumns'       : [
			{'sType':'position-range'},  // start-end
			null,                        // strand
			{'bSortable':false},         // target sequence
			null,                        // GC%
			null,                        // Tm
			null,                        // TTTT
			{'sType':'hits'},            // hit_20mer
			{'sType':'hits'},            // hit_12mer
			{'sType':'hits'},            // hit_8mer
		],
		'fnRowCallback'   : function( nRow, aData, iDisplayIndex, iDisplayIndexFull ){
			var tttt      = aData[5] ;
			var hit_20mer = aData[6].replace( /\D.*/, '' ) ;
			var hit_12mer = aData[7].replace( /\D.*/, '' ) ;
			// specific target sequence (Recommended)
			if ( hit_20mer == '1' ){
				$('td:eq(6)', nRow).css('font-weight', 'bold') ;
			}
			// specific target sequence (Recommended)
			if ( hit_12mer == '1' ){
				$('td:eq(7)', nRow).css('font-weight', 'bold') ;
			}
			// specific target sequence (Recommended)
			if ( hit_20mer == '1' && hit_12mer == '1' && tttt == '-' ){
				$('td:eq(0)', nRow).html('<em>' + aData[0] + '<\/em>') ;
			}
			// No hit against genomic sequences (Not recommended)
			if ( hit_20mer == '0' ){
				$(nRow).addClass('s') ;
				$('td:eq(6)', nRow).css('color', '#cc6666') ;
			}
			// TTTT in 20mer (Not recommended)
			if ( tttt == '+' ){
				$(nRow).addClass('s') ;
				$('td:eq(5)', nRow).css('color', '#cc6666') ;
			}
		}
	}) ;
	$(':checkbox').click(function() {
		result.fnDraw();
	});
}) ;
//-->
</script>
<style type='text/css'>
<!--
	/*CSS for DataTables*/
	table.dataTable thead th {
		padding:2px 16px 2px 2px;
		border-bottom:1px solid white;
	}
	table.dataTable tbody td { padding:2px 2px }
	.dataTables_wrapper { display:inline-table }
	.sorting { background:url('images/sort_both.png') no-repeat center right }
-->
</style>
<style type='text/css'>
<!--
	*     { font-family:verdana,arial,helvetica,sans-serif }
	.mono { font-family:monaco,courier,monospace }
	.pam  {
		font-family:inherit;
		border:1px solid;
		margin-left:1px;
		margin-right:1px;
		padding-left:1px;
		padding-right:1px;
	}
	p,div,ol,ul,h5 { font-size:9pt }
	table,textarea { font-size:8pt }
	p,ol,ul { width:90% }
	a       { text-decoration:none; color:#003399 }
	a:hover { text-decoration:none; color:maroon  }
	.b      { text-decoration:none; color:black   }
	.s      { text-decoration:none; color:gray    }
	form  { margin:10px 0px }
	table#result { text-align:center; white-space:nowrap; border-collapse:collapse }
	table#result tr:nth-child(odd) td { background-color:white }
	table#result th { border-left:1px solid white;   border-right:1px solid white   }
	table#result td { border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC }
	table#result .hits   { text-align:right; padding-left:7pt }
	table#result .detail { font-size:7pt; font-weight:normal }
	table#seqmap td { font-family:monaco,courier,monospace }
	table#seqmap .pos  { text-align:right; color:green }
	table#seqmap .seq  { background-color:white }
	table#seqmap .mark { background-color:#F3F3F3; font-weight:bold }
	em { background-color:#99FF99; font-style:normal; font-weight:bold }
	.v { background-color:#E6E6FA }
	.o { background-color:#FFF0E0 }
	.g { background-color:#E6FAF2 }
	.h { background-color:#99FF99 }

	/* zurui_button from http://css3button.net/ */
	.zbutton {
		text-decoration:none;
		outline:none;
		padding:2px 8px;
		border:1px solid #606060;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
		-ms-border-radius:9px;
		border-radius:9px;
		background:-webkit-gradient(linear, left top, left bottom, from(#E5EEFF), to(#BFD4FF));
		background:-webkit-linear-gradient(top, #E5EEFF, #BFD4FF);
		background:-moz-linear-gradient(top, #E5EEFF, #BFD4FF);
		background:-ms-linear-gradient(top, #E5EEFF, #BFD4FF);
		background:-o-linear-gradient(top, #E5EEFF, #BFD4FF);
		background:linear-gradient(top, #E5EEFF, #BFD4FF);
		background-color:#E5EEFF;
		text-shadow:
			0px -1px 0px rgba(0,0,0,0.2),
			0px  1px 0px rgba(255,255,255,0.5);
	}
	.zbutton:hover {
		background:-webkit-gradient(linear, left top, left bottom, from(#CCDEFF), to(#80AAFF));
		background:-webkit-linear-gradient(top, #CCDEFF, #80AAFF);
		background:-moz-linear-gradient(top, #CCDEFF, #80AAFF);
		background:-ms-linear-gradient(top, #CCDEFF, #80AAFF);
		background:-o-linear-gradient(top, #CCDEFF, #80AAFF);
		background:linear-gradient(top, #CCDEFF, #80AAFF);
		background-color:#CCDEFF;
	}
	.zbutton:active {
		color:white;
		background:-webkit-gradient(linear, left top, left bottom, from(#8296BD), to(#2A5EBC));
		background:-webkit-linear-gradient(top, #8296BD, #2A5EBC);
		background:-moz-linear-gradient(top, #8296BD, #2A5EBC);
		background:-ms-linear-gradient(top, #8296BD, #2A5EBC);
		background:-o-linear-gradient(top, #8296BD, #2A5EBC);
		background:linear-gradient(top, #8296BD, #2A5EBC);
		background-color:#8296BD;
	}
-->
</style>
</head>

<body>

<div>
<a href='.'><img src='CRISPRdirect.png' alt='CRISPRdirect' width=200 height=105 border=0></a>
<span style='vertical-align:4.3ex'>&mdash; Rational design of CRISPR/Cas target.&nbsp;</span>
<span style='vertical-align:3.8ex'><a href='doc/'>
	<img src='help.png' alt='Help' width=36 height=15 border=0></a></span>
</div>

<hr style='border-top:3px solid #2655A9'><!-- ________________________________________ -->


<script type='text/javascript'>
<!--
var ua = navigator.userAgent.toLowerCase() ;
if (ua.indexOf('msie') != -1 && ua.indexOf('mac') != -1){
	document.write(
		'<div>'                                                              +
		'<form name=getsequence method=GET action="./">'                     +
		'    <p>Enter an accession number (e.g. NM_006299) or '              +
		'        genome location (e.g. hg19:chr7:900000-901000):'            +
		'        <span style="vertical-align:-0.4ex">'                       +
		'        <a href="doc/accession.html"'                               +
		'            onclick="window.open('                                  +
		'            \'doc/accession.html\','                                +
		'            \'\','                                                  +
		'            \'width=600,height=700,scrollbars=yes\''                +
		'            ) ; return false ;">'                                   +
		'        <img src="qicon.png" alt="?" width=15 height=15 border=0>'  +
		'        <\/a><\/span><br>'                                          +
		'    <input type=text id=acc name=accession size=40 maxlength=80'    +
		'        value="<TMPL_VAR NAME=ACCESSION>">'                         +
		'    <input type=submit value="retrieve sequence">'                  +
		'    <\/p>'                                                          +
		'<\/form>'                                                           +
		'<\/div>'
	) ;
} else {
	document.write(
		'    <p>Enter an accession number (e.g. NM_006299) or '              +
		'        genome location (e.g. hg19:chr7:900000-901000):'            +
		'        <span style="vertical-align:-0.4ex">'                       +
		'        <a href="doc/accession.html"'                               +
		'            onclick="window.open('                                  +
		'            \'doc/accession.html\','                                +
		'            \'\','                                                  +
		'            \'width=600,height=700,scrollbars=yes\''                +
		'            ) ; return false ;">'                                   +
		'        <img src="qicon.png" alt="?" width=15 height=15 border=0>'  +
		'        <\/a><\/span><br>'                                          +
		'    <input type=text id=acc name=accession size=40 maxlength=80'    +
		'        value="<TMPL_VAR NAME=ACCESSION>"'                          +
		'        onkeypress="if(event.keyCode==13){retrieveSequence()}">'    +
		'    <input type=button value="retrieve sequence"'                   +
		'        onclick="retrieveSequence()">'                              +
		'    <\/p>'
	) ;
}
//-->
</script>

<noscript>
<div>
<form name=getsequence method=GET action='./'>
	<p>Enter an accession number (e.g. NM_006299) or
		genome location (e.g. hg19:chr7:900000-901000):
		<span style='vertical-align:-0.4ex'>
		<a href='doc/accession.html'
			onclick="window.open(
				'doc/accession.html','','width=600,height=700,scrollbars=yes'
			) ; return false ;">
		<img src='qicon.png' alt='?' width=15 height=15 border=0>
		</a></span><br>
	<input type=text id=acc name=accession size=40 maxlength=80
		value='<TMPL_VAR NAME=ACCESSION>'>
	<input type=submit value='retrieve sequence'>
	</p>
</form>
</div>
</noscript>

<form name=crisprdirect method=POST action='./' enctype='multipart/form-data'>
<div>
	<p>or Paste a nucleotide sequence:
		<a href='doc/input.html'
			onclick="window.open(
				'doc/input.html','','width=600,height=700,scrollbars=yes'
			) ; return false ;">
		<img src='qicon.png' alt='?' width=15 height=15 border=0>
		</a><br>
	<textarea id=useq name=userseq rows=15 cols=90 class=mono>
<TMPL_VAR NAME=USERSEQ></textarea>
	</p>

	<p>or upload sequence file:
	<span style='vertical-align:-0.4ex'>
	<a href='doc/upload.html'
		onclick="window.open(
			'doc/upload.html','','width=600,height=700,scrollbars=yes'
		) ; return false ;">
	<img src='qicon.png' alt='?' width=15 height=15 border=0>
	</a>
	</span>
	<input type=file name=upload size=40>
	</p>

	<p>PAM sequence requirement:
	<input type=text id=pam name=pam size=10 maxlength=3
		value='<TMPL_VAR NAME=PAM>'> (e.g. NGG, NRG)
	<span style='vertical-align:-0.4ex'>
	<a href='doc/pam.html'
		onclick="window.open(
			'doc/pam.html','','width=600,height=700,scrollbars=yes'
		) ; return false ;">
	<img src='qicon.png' alt='?' width=15 height=15 border=0>
	</a>
	</span>
	</p>

	<p>Specificity check:
	<select name=db>
<TMPL_VAR NAME=SELECT>
	</select>
	<span style='vertical-align:-0.4ex'>
	<a href='doc/selectdb.html'
		onclick="window.open(
			'doc/selectdb.html','','width=600,height=700,scrollbars=yes'
		) ; return false ;">
	<img src='qicon.png' alt='?' width=15 height=15 border=0>
	</a>
	</span>
	</p>

	<input type=hidden id=acc2 name=accession value="<TMPL_VAR NAME=ACCESSION>">
	<p><input type=submit class=zbutton value='   design   '></p>
</div>

<TMPL_VAR NAME=RESULT>
</form>

<hr style='border-top:1px solid #2655A9'><!-- ________________________________________ -->

<p class=s>
	<a href='.'>CRISPRdirect</a> |
	<a href='http://dbcls.rois.ac.jp/en/'>DBCLS</a><br>
	This page is licensed under a
	<a target='_blank' class=a href='http://creativecommons.org/licenses/by/2.1/jp/deed.en'>
	Creative Commons Attribution 2.1 Japan License</a>.
</p>

</body>
</html>
