<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>

<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta http-equiv='Content-Script-Type' content='text/javascript'>
<meta http-equiv='Content-Style-Type' content='text/css'>
<meta name='author' content='Yuki Naito'>
<title>CRISPRdirect</title>
<script type='text/javascript'>
<!--
function retrieveSequence(){
	acc = document.getElementById('acc').value ;
	requestFile('', 'GET', './?format=txt&accession='+acc, true) ;
}
function requestFile(data, method, fileName, async){
	var httpoj = createHttpRequest() ;
	httpoj.onreadystatechange = function(){
		if (httpoj.readyState==4){ 
			on_loaded(httpoj) ;
		}
	}
	httpoj.open(method, fileName, async) ;
	httpoj.send(data) ;
}
function createHttpRequest(){
	//for Win IE
	if(window.ActiveXObject){
		try {
			//for MSXML2
			return new ActiveXObject('Msxml2.XMLHTTP') ;
		} catch (e) {
			try {
				//for MSXML
				return new ActiveXObject('Microsoft.XMLHTTP') ;
			} catch (e2) {
				return null ;
			}
		}
	} else if(window.XMLHttpRequest){
		//other agents
		return new XMLHttpRequest() ;
	} else {
		return null ;
	}
}
function on_loaded(oj){
	res  = oj.responseText ;
	document.crisprdirect.userseq.value   = res ;
	document.crisprdirect.accession.value = acc ;
}
//-->
</script>
<!-- jQuery -->
<script type='text/javascript' charset='utf8'
	src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js'>
</script>
<script type='text/javascript'>
<!--
	// Fallback for CDN hosted jQuery
	(window.jQuery || document.write(
		'<script src="jQuery/jquery-2.0.3.min.js"><\/script>'
	)) ;
//-->
</script>
<!-- DataTables -->
<script type='text/javascript' charset='utf8'
	src='http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js'>
</script>
<script type='text/javascript'>
<!--
	// Fallback for CDN hosted DataTables
	(window.jQuery.fn.dataTable || document.write(
		'<script src="jquery.dataTables/1.9.4/jquery.dataTables.min.js"><\/script>'
	)) ;
//-->
</script>
<!-- CSS for DataTables -->
<link rel='stylesheet' type='text/css'
	href='http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css'>
<script type='text/javascript'>
<!--
	// Fallback for CDN hosted CSS
	function cssLoaded(href) {
		var cssFound = false ;

		for (var i = 0 ; i < document.styleSheets.length ; i++) {
			var sheet = document.styleSheets[i] ;
			if (sheet['href'].indexOf(href) >= 0 && sheet['cssRules'].length > 0) {
				cssFound = true ;
			}
		} ;

		return cssFound ;
	}

	if (!cssLoaded('jquery.dataTables.css')) {
		local_bootstrap = document.createElement('link') ;
		local_bootstrap.setAttribute('rel',  'stylesheet') ;
		local_bootstrap.setAttribute('type', 'text/css') ;
		local_bootstrap.setAttribute('href', 'jquery.dataTables/1.9.4/css/jquery.dataTables.css') ;
		document.getElementsByTagName('head')[0].appendChild(local_bootstrap) ;
	}
//-->
</script>
<script type='text/javascript'>
<!--
$(document).ready(function(){
	$('#result').dataTable({
		'bAutoWidth'      : false,  // Disable automatic column width
		'iDisplayLength'  : 20,     // Number of rows per page
		'aLengthMenu'     : [[20, 100, -1], [20, 100, 'All']],  // Menu items
		'sPaginationType' : 'full_numbers',  // Page control method
		'bSortClasses'    : false,  // Disable highlighting the sorted columns
		'aoColumnDefs'    : [{      // Sortable columns
			'bSortable'   : false,
			'aTargets'    : [ 1,2,7,9,11 ]
		}],
		'fnRowCallback'   : function( nRow, aData, iDisplayIndex, iDisplayIndexFull ){
			// specific target sequence (Recommended)
			if ( aData[6] == '1' ){
				$('td:eq(6)', nRow).css('font-weight', 'bold') ;
			}
			// specific target sequence (Recommended)
			if ( aData[8] == '1' ){
				$('td:eq(8)', nRow).css('font-weight', 'bold') ;
			}
			// specific target sequence (Recommended)
			if ( aData[6] == '1' && aData[8] == '1' ){
				$('td:eq(0)', nRow).html('<em>' + aData[0] + '<\/em>') ;
			}
			// No hit against genomic sequences (Not recommended)
			if ( aData[6] == '0' ){
				$(nRow).addClass('s') ;
				$('td:eq(6)', nRow).css('color', '#cc6666') ;
			}
			// TTTT in 23mer (Not recommended)
			if ( aData[5] == 'true' ){
				$(nRow).addClass('s') ;
				$('td:eq(5)', nRow).css('color', '#cc6666') ;
			}
		}
	}) ;
}) ;
//-->
</script>
<style type='text/css'>
<!--
	/*CSS for DataTables*/
	table.dataTable thead th {
		padding:2px 16px 2px 2px;
		border-bottom:1px solid white;
	}
	table.dataTable tbody td { padding:2px 2px }
	.dataTables_wrapper { display:inline-block }
	.sorting { background:url('images/sort_both.png') no-repeat center right }
-->
</style>
<style type='text/css'>
<!--
	*     { font-family:verdana,arial,helvetica,sans-serif }
	.mono { font-family:monaco,courier,monospace }
	p,div,ol,ul,h5 { font-size:9pt }
	table,textarea { font-size:8pt }
	a       { text-decoration:none; color:#003399 }
	a:hover { text-decoration:none; color:maroon  }
	.b      { text-decoration:none; color:black   }
	.s      { text-decoration:none; color:gray    }
	form  { margin:10px 0px }
	table { text-align:center; white-space:nowrap }
	tr:nth-child(odd) td { background-color:white }
	th { border-left:1px solid white }
	td { border-left:1px solid #CCCCCC }
	em { background-color:#99FF99; font-style:normal; font-weight:bold }
	.v { background-color:#E6E6FA }
	.o { background-color:#FFF0E0 }
	.g { background-color:#E6FAF2 }
-->
</style>
</head>

<body>

<div>
<a href='.'><img src='CRISPRdirect.png' alt='CRISPRdirect' width=200 height=105 border=0></a>
<span style='vertical-align:4.3ex'>&mdash; Rational design of CRISPR/Cas target.&nbsp;</span>
<span style='vertical-align:3.8ex'><a href='doc/'><img src='help.png' alt='Help' width=36 height=15 border=0></a></span>
</div>

<hr style='border-top:3px solid #2655A9'><!-- ________________________________________ -->


<script type='text/javascript'>
<!--
var ua = navigator.userAgent.toLowerCase() ;
if (ua.indexOf('msie') != -1 && ua.indexOf('mac') != -1){
	document.write(
		'<div>'                                                           +
		'<form name=getsequence method=GET action=".">'                   +
		'    <p>Enter an accession number and retrieve sequence '         +
		'        (<i>e.g.<\/i> NM_001187):<br>'                           +
		'    <input type=text id=acc name=accession size=20 maxlength=50' +
		'        value="<TMPL_VAR NAME=ACCESSION>">'                      +
		'    <input type=submit value="retrieve sequence">'               +
		'    <\/p>'                                                       +
		'<\/form>'                                                        +
		'<\/div>'
	) ;
} else {
	document.write(
		'    <p>Enter an accession number and retrieve sequence '         +
		'        (<i>e.g.<\/i> NM_001187):<br>'                           +
		'    <input type=text id=acc name=accession size=20 maxlength=50' +
		'        value="<TMPL_VAR NAME=ACCESSION>"'                       +
		'        onkeypress="if(event.keyCode==13){retrieveSequence()}">' +
		'    <input type=button value="retrieve sequence"'                +
		'        onclick="retrieveSequence()">'                           +
		'    <\/p>'
	) ;
}
//-->
</script>

<noscript>
<div>
<form name=getsequence method=GET action='.'>
	<p>Enter an accession number and retrieve sequence (<i>e.g.</i> NM_001187):<br>
	<input type=text id=acc name=accession size=20 maxlength=50
		value='<TMPL_VAR NAME=ACCESSION>'>
	<input type=submit value='retrieve sequence'>
	</p>
</form>
</div>
</noscript>

<form name=crisprdirect method=POST action='.'>
<div>
	<p>or Paste in a nucleotide sequence:<br>
	<textarea id=useq name=userseq rows=15 cols=90 class=mono>
<TMPL_VAR NAME=USERSEQ></textarea>
	</p>

	<p>Specificity check:
	<select name=db>
<TMPL_VAR NAME=SELECT>
	</select>
	</p>

	<input type=hidden id=acc2 name=accession value="<TMPL_VAR NAME=ACCESSION>">
	<p><input type=submit value='   design   '></p>
</div>

<TMPL_VAR NAME=RESULT>
</form>

<hr style='border-top:1px solid #2655A9'><!-- ________________________________________ -->

<p class=s>
	<a href='.'>CRISPRdirect</a> |
	<a href='http://dbcls.rois.ac.jp/en/'>DBCLS</a>
</p>

</body>
</html>
