<div>
<h5>Whats' new:</h5>
<ul>
	<li>2017-02-17 <i>Brassica rapa</i> genome v1.5 is available.
	<li>2017-01-23 Added 8 species -
	               <a target='_blank'
	               href='https://gist.github.com/meso-cacase/88157c741a17c0920c7c57dcd2b39a3d'>List</a>
	<li>2016-12-14 CRISPRdirect shows restriction enzyme cutting sites -
	               <a target='_blank' href='doc/REsites.png'>Sample</a>
	<li>2016-09-09 Added 10 species -
	               <a target='_blank'
	               href='https://gist.github.com/meso-cacase/88157c741a17c0920c7c57dcd2b39a3d'>List</a>
	<li>2016-08-30 Added Human Japanese Reference Genome JRGv1.
	<li>2016-06-14 Added 10 species -
	               <a target='_blank'
	               href='https://gist.github.com/meso-cacase/88157c741a17c0920c7c57dcd2b39a3d'>List</a>
	<li>2015-10-05 CRISPRdirect supports 200+ species -
	               <a href='doc/#db_list'>List of species</a>
	<li>2015-01-13 HTTPS encrypted connections supported -
	               <a href='https://crispr.dbcls.jp/'>https://crispr.dbcls.jp/</a>
	<li>2014-11-21 CRISPRdirect paper has been published in <i>Bioinformatics</i> -
	               <a target='_blank'
	               href='http://bioinformatics.oxfordjournals.org/content/31/7/1120.full'>
	               Full text</a>
	<li><a href='doc/#news'>News archives</a>
</ul>
</div>
