<div>
<h5>Whats' new:</h5>
<ul>
	<li>2015-10-05 CRISPRdirect supports 200+ species -
	               <a href='doc/#genomelist'>List of databases</a>
	<li>2015-01-13 HTTPS encrypted connections supported -
	               <a href='https://crispr.dbcls.jp/'>https://crispr.dbcls.jp/</a>
	<li>2014-11-21 CRISPRdirect paper has been published in <i>Bioinformatics</i> -
	               <a target='_blank'
	               href='http://bioinformatics.oxfordjournals.org/content/31/7/1120'>
	               Full text</a>
	<li><a href='doc/#news'>News archives</a>
</ul>
</div>
