<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang=ja>

<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta http-equiv='Content-Script-Type' content='text/javascript'>
<meta http-equiv='Content-Style-Type' content='text/css'>
<TMPL_VAR NAME=ROBOTS><meta name=author content='Yuki Naito'>
<title><TMPL_VAR NAME=TITLE></title>
<script type='text/javascript'>
<!--
function hideDebug() {
	if (document.getElementById('debug').style.display == 'none') {
		document.getElementById('debug').style.display = 'block';
	} else {
		document.getElementById('debug').style.display = 'none';
	}
}
//-->
</script>
<style type='text/css'>
<!--
	* { font-family:verdana,arial,helvetica,sans-serif }
	.mono { font-family:monaco,courier,monospace }
	p,ol,pre,div,small,cite { font-size:9pt }
	cite { color:#0E774A; font-style:normal }
	a { color:black; font-style:normal }
	em {
		font-family:inherit;
		font-style:normal;
		border:1px solid #00BCFF;
		background-color:#DDF6FF;
	}
	strong {
		font-family:inherit;
		font-style:normal;
		font-weight:bold;
		color:red;
		background-color:#DDF6FF;
	}
	ins,del {
		font-family:inherit;
		font-style:normal;
		font-weight:bold;
		text-decoration:none;
		background-color:pink;
	}
	.position {
		position:absolute;
		top:-1.2em;
		left:1em;
		color:#0E774A;
		font-size:80%;
		user-select:none;
	}
	.pointer {
		position:absolute;
		top:-0.8em;
		width:0; height:0;
		border-left: 0.35em solid transparent;
		border-right:0.35em solid transparent;
		border-top:  0.80em solid #0E774A;
	}
	.gene { margin:10pt }
	.a { color:#3366CC }
	.t { font-size:10pt; width:90% }
	.b { word-wrap:break-word; width:90% }
	.g { color:gray; width:90% }
	.s { color:silver; width:90% }
	.zbutton { font-size:8pt }

	/* zurui_button from http://css3button.net/ */
	.zbutton {
		text-decoration:none;
		outline:none;
		padding:2px 8px;
		border:1px solid #606060;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
		-ms-border-radius:9px;
		border-radius:9px;
		background:-webkit-gradient(linear, left top, left bottom, from(#E5EEFF), to(#BFD4FF));
		background:-webkit-linear-gradient(top, #E5EEFF, #BFD4FF);
		background:-moz-linear-gradient(top, #E5EEFF, #BFD4FF);
		background:-ms-linear-gradient(top, #E5EEFF, #BFD4FF);
		background:-o-linear-gradient(top, #E5EEFF, #BFD4FF);
		background:linear-gradient(top, #E5EEFF, #BFD4FF);
		background-color:#E5EEFF;
		text-shadow:
			0px -1px 0px rgba(0,0,0,0.2),
			0px  1px 0px rgba(255,255,255,0.5);
	}
	.zbutton:hover {
		background:-webkit-gradient(linear, left top, left bottom, from(#CCDEFF), to(#80AAFF));
		background:-webkit-linear-gradient(top, #CCDEFF, #80AAFF);
		background:-moz-linear-gradient(top, #CCDEFF, #80AAFF);
		background:-ms-linear-gradient(top, #CCDEFF, #80AAFF);
		background:-o-linear-gradient(top, #CCDEFF, #80AAFF);
		background:linear-gradient(top, #CCDEFF, #80AAFF);
		background-color:#CCDEFF;
	}
	.zbutton:active {
		color:white;
		background:-webkit-gradient(linear, left top, left bottom, from(#8296BD), to(#2A5EBC));
		background:-webkit-linear-gradient(top, #8296BD, #2A5EBC);
		background:-moz-linear-gradient(top, #8296BD, #2A5EBC);
		background:-ms-linear-gradient(top, #8296BD, #2A5EBC);
		background:-o-linear-gradient(top, #8296BD, #2A5EBC);
		background:linear-gradient(top, #8296BD, #2A5EBC);
		background-color:#8296BD;
	}
-->
</style>
</head>

<body>

<div>
<a href='.'><img src='CRISPRdirect_ja.png' alt='CRISPRdirect' width=200 height=105 border=0></a>
<span style='vertical-align:4.3ex'>&mdash; Rational design of CRISPR/Cas target.&nbsp;</span>
</div>

<hr style='border-top:3px solid #2655A9'><!-- ________________________________________ -->

<form name=gggenome method=GET action='./'>
<p>
	<a class=zbutton href='0/<TMPL_VAR NAME=QUERY>'>0 mismatch/gap</a> &nbsp; | &nbsp;
	<a class=zbutton href='1/<TMPL_VAR NAME=QUERY>'>&le;1 mismatch/gap</a> &nbsp; | &nbsp;
	<a class=zbutton href='2/<TMPL_VAR NAME=QUERY>'>&le;2 mismatches/gaps</a> &nbsp; | &nbsp;
	<input type=hidden name=query size=70 value='<TMPL_VAR NAME=QUERY>'>
	<select id=db name=db style='display:none'>
	<TMPL_VAR NAME=SELECT>
	</select>
	more: <input type=text name=k size=3 value='<TMPL_VAR NAME=K>'><!--
	--><input type=submit class=zbutton value='show'>
</p>
<p>
	<TMPL_VAR NAME=STRAND>
</p>
</form>

<TMPL_VAR NAME=CHATA>
<TMPL_VAR NAME=HTML>

<hr style='border-top:1px solid #2655A9'><!-- ________________________________________ -->

<p class=g>
	<a class=a href='.'>CRISPRdirect</a> |
	<a class=a href='http://dbcls.rois.ac.jp/'>DBCLS</a><br>
	This page is licensed under a
	<a target='_blank' class=a href='https://creativecommons.org/licenses/by/4.0/deed.ja'>
	Creative Commons Attribution 4.0 International License (CC BY 4.0)</a>.
</p>

<p class=g>
	If you use CRISPRdirect in your work, please cite:<br>
	Naito Y, Hino K, Bono H, Ui-Tei K. (2015)<br>
	CRISPRdirect: software for designing CRISPR/Cas guide RNA with reduced off-target sites.<br>
	<i>Bioinformatics</i>, <b>31</b>, 1120-1123.
	<a target='_blank' class=a
		href='http://bioinformatics.oxfordjournals.org/content/31/7/1120.full'>
		[Full Text]
	</a>
</p>

</body>
</html>
